@{
    ViewBag.Title = "Button";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Button Features:</h2>
<br/>
<li> Default Button</li>
<li> Radio Button</li>
<li> Check Boxes</li>
<li> Split Button</li>
<li> Group Button</li>
<li> Theme - Bootstrap-Theme</li>
<br/>
<div id = "ControlRegion">
              <h2>Default Button</h2>
             <ejs-button id="btn" content="Normal"></ejs-button>
            <br>
              <h2>Radio Button</h2>
            <ejs-radiobutton id="radiobtn1" name="sex" checked="true" label="Male"></ejs-radiobutton>
    <ejs-radiobutton id="radiobtn2" name="sex" label="Female"></ejs-radiobutton>
            <br />
              <h2>Check Boxes</h2>
            <ejs-checkbox id="checkcox" label="Checked" checked="true"></ejs-checkbox>
            <br />
              <h2>Split Button</h2>
            <ejs-splitbutton id="splitbtn" content="Paste" items="ViewBag.items"></ejs-splitbutton>
              <h2>Group Button</h2>
            <div id="btn-group" class="e-btn-group">
        <ejs-button id='left' content="Left"></ejs-button>
        <ejs-button id='middle' content="Middle"></ejs-button>
        <ejs-button id='right' content="Right"></ejs-button>
    </div>
			<br />
    <style>
        .frame {
            width: 30%;
        }
        td {
            padding: 10px;
        }
        .spltspan{
            width:50px;
        }
    </style>
</div>
