<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    +55047996460593<br />
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:isaacnborges@gmail.com">isaacnborges@gmail.com</a><br />    
</address>
<address>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/isaacnborges/">br.linkedin.com/in/isaacnborges</a><br />
</address>